<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298563546142-00amm34m02aknv8c1ian0t6lm5empp7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298563546142-00amm34m02aknv8c1ian0t6lm5empp7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298563546142-dg24011mj71c68pa4mngrk7bmti6g4fv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT-1cEF7bQwWVBNe1dgMW5u9F7TgDGuxY</string>
	<key>GCM_SENDER_ID</key>
	<string>298563546142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mimir.quiz</string>
	<key>PROJECT_ID</key>
	<string>mimirquiz-d5793</string>
	<key>STORAGE_BUCKET</key>
	<string>mimirquiz-d5793.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298563546142:ios:b3d145e5432dc3b599920f</string>
</dict>
</plist>